body {
    font-family: Arial, sans-serif;
    padding: 100px;
    margin-top: auto;
}

form {
    background: #f2f2f2;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    height: 400px;
    width: 505px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}


ul {
    list-style: none;
    padding: 0;
}

li {
    text-align: center;
    background: #f2f2f2;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    height: 120px;
    width: 700px;
}

.hidden {

    display: none;
    background: #f2f2f2;
}

.add-input{
    width: 200px;
    height: 10px;
    padding: 15px;
}
.buttons{
    display: block;
    width: 150px;
    margin: 15px ;
    padding: 8px 14px;
}
#button-update{
    display: block;
    width: 150px;
    margin: 15px ;
    padding: 8px 14px;
}
#button-delete{
    display: block;
    width: 150px;
    margin: 15px ;
    padding: 8px 14px;
}

